<!-- Modal Payement Info Credit Card -->

<div class="col-xs-10 modal_container_creditcard" style="padding: 0;">
    <div class="panel panel-info">
        <div class="panel-heading">
            <span>Payement Details</span>
            <span class="checkbox pull-right" style="margin:0px;">
                <label>
                    <input type="checkbox"/>
                    Remember
                </label>
            </span>
        </div>
        <div class="panel-body">

            <form class="form-horizontal" role="form" stripe-form="stripeCallback">
                <fieldset>
                    <legend>Payment</legend>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="name">Name on Card</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="name" id="name"
                                   placeholder="Card Holder's Name" ng-model="name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="number">Card Number</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="number" id="number"
                                   placeholder="Debit/Credit Card Number" ng-model="number" payments-validate="card"
                                   payments-format="card"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="expiry">Expiration Date</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="expiry" id="expiry" ng-model="expiry"
                                   payments-format="expiry" payments-validate="expiry" placeholder="mm/yyyy"/>
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>

                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-xs-3">
                                    <select class="form-control col-sm-2" name="expiry-month" id="expiry-month">
                                        <option>Month</option>
                                        <option value="01">Jan (01)</option>
                                        <option value="02">Feb (02)</option>
                                        <option value="03">Mar (03)</option>
                                        <option value="04">Apr (04)</option>
                                        <option value="05">May (05)</option>
                                        <option value="06">June (06)</option>
                                        <option value="07">July (07)</option>
                                        <option value="08">Aug (08)</option>
                                        <option value="09">Sep (09)</option>
                                        <option value="10">Oct (10)</option>
                                        <option value="11">Nov (11)</option>
                                        <option value="12">Dec (12)</option>
                                    </select>
                                </div>
                                <div class="col-xs-3">
                                    <select class="form-control" name="expiry-year">
                                        <option value="13">2013</option>
                                        <option value="14">2014</option>
                                        <option value="15">2015</option>
                                        <option value="16">2016</option>
                                        <option value="17">2017</option>
                                        <option value="18">2018</option>
                                        <option value="19">2019</option>
                                        <option value="20">2020</option>
                                        <option value="21">2021</option>
                                        <option value="22">2022</option>
                                        <option value="23">2023</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="cvc">Card CVV</label>

                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="cvc" id="cvc" placeholder="Security Code"
                                   ng-model="cvc" payments-format="cvc" payments-validate="cvc"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-success" ng-disabled="paymentInProgres">Pay Now
                            </button>
                            <button type="button" class="btn btn-cancel" ng-disabled="paymentInProgress"
                                    ng-click="cancel();">Close
                            </button>
                        </div>

                        <div ng-show="paymentInProgress">
                            <h5 class="glyphicon glyphicon-hourglass col-xs-12 text-center text-bold">Processing your payment...</h5>
                        </div>

                        <div ng-show="paymentDone">
                            <h5 ng-if="paymentSucceeded"
                                class="glyphicon glyphicon-ok col-xs-12 text-green text-center">
                                Congratulations, Your payment processed successfully. Your account is credited with {{numChips | currency}}
                            </h5>
                            <h5 ng-if="paymentFailed"
                                class="glyphicon glyphicon-exclamation-sign col-xs-12 text-center text-warning">{{paymentError}}</h5>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>


