<div class="col-xs-12">
    <h3 style="font-weight:bold;color:gray;">Your Notifications</h3>
    
</div>

<div class="col-xs-6">
    <h6></h6>
<div class="panel panel-info" style="margin-bottom:0px;">
    <div class="panel-heading">
        <span class="fa fa-user"></span>
        <span>Friends</span>
        <span class="badge pull-right" style="background-color: orange; color: darkslategray;">5</span>
    </div>
    <div class="panel-body">

        <table class="table table-hover">
            <tr>
                <td><span class="fa fa-check-circle" style="color:mediumseagreen;font-size:1.5em;"></span></td>
                <td style="font-size:0.8em;font-weight:bold;padding-right:0;"><a href="#">You </a>accept <a href="#">Nikita Williams</a> friend request</td>
                <td><span class="label label-info" style="font-size:0.7em;">5 min ago</span></td>
            </tr>
            <tr>
                <td><span class="fa fa-ban" style="color: red; font-size: 1.5em;"></span></td>
                <td style="font-size: 0.8em; font-weight: bold; padding-right: 0;"><a href="#">You </a>reject <a href="#">Nikita Williams</a> friend request</td>
                <td><span class="label label-info" style="font-size: 0.7em;">5 min ago</span></td>
            </tr>
            <tr>
                <td><span class="fa fa-comment" style="color: lightgray; font-size: 1.5em;"></span></td>
                <td style="font-size: 0.8em; font-weight: bold; padding-right: 0;"><a href="#">You </a>have a new comment from <a href="#">Nikita Williams</a></td>
                <td><span class="label label-info" style="font-size: 0.7em;">5 min ago</span></td>
            </tr>
            <tr>
                <td><span class="fa fa-eye" style="color: black; font-size: 1.5em;"></span></td>
                <td style="font-size: 0.8em; font-weight: bold; padding-right: 0;"><a href="#">Nikita Williams </a>viewed <a href="#">Your </a>profile</td>
                <td><span class="label label-info" style="font-size: 0.7em;">5 min ago</span></td>
            </tr>
            <tr>
                <td><span class="fa fa-info-circle" style="color: royalblue; font-size: 1.5em;"></span></td>
                <td style="font-size: 0.8em; font-weight: bold; padding-right: 0;"><a href="#">Nikita Williams </a>has been remove from <a href="#">Your </a>friend list</td>
                <td><span class="label label-info" style="font-size: 0.7em;">5 min ago</span></td>
            </tr>
        </table>

    </div>

</div>
</div>

<div class="col-xs-6">
    <h6></h6>
<div class="panel panel-info">
    <div class="panel-heading">
        <span class="fa fa-credit-card"></span>
        <span>Payement</span>
        <span class="badge pull-right"style="background-color: orange; color: darkslategray;">4</span>
    </div>
    <div class="panel-body">

        <table class="table table-hover" style="margin-bottom:1.5vh">
            <tr>
                <td><span class="fa fa-check" style="color:mediumseagreen;font-size:1.5em;"></span></td>
                <td style="font-size:0.8em;font-weight:bold;padding-right:0;">New payement accepted see <a href="#">Invoice </a>for more information</td>
                <td><span class="label label-info" style="font-size:0.7em;">5 min ago</span></td>
            </tr>
            <tr>
                <td><span class="fa fa-close" style="color: red; font-size: 1.5em;"></span></td>
                <td style="font-size: 0.8em; font-weight: bold; padding-right: 0;"><a href="#">Your </a>payement was decline more details <a href="#">here</a></td>
                <td><span class="label label-info" style="font-size: 0.7em;">5 min ago</span></td>
            </tr>
            <tr>
                <td><span class="fa fa-exclamation" style="color: orangered; font-size: 1.5em;"></span></td>
                <td style="font-size: 0.8em; font-weight: bold; padding-right: 0;"><a href="#">Your </a>credit card will expire soon please update</td>
                <td><span class="label label-info" style="font-size: 0.7em;">5 min ago</span></td>
            </tr>
            <tr>
                <td><span class="fa fa-info" style="color: royalblue; font-size: 1.5em;"></span></td>
                <td style="font-size: 0.8em; font-weight: bold; padding-right: 0;"><a href="#">Your </a>new credit card have been added</td>
                <td><span class="label label-info" style="font-size: 0.7em;">5 min ago</span></td>
            </tr>

            <tr>
                <td><span class="fa fa-info" style="color: red; font-size: 1.5em;"></span></td>
                <td style="font-size: 0.8em; font-weight: bold; padding-right: 0;"><a href="#">Your </a>credit card have been removed</td>
                <td><span class="label label-info" style="font-size: 0.7em;">5 min ago</span></td>
            </tr>
            
        </table>

    </div>

</div>
</div>

<div class="col-xs-6">
    <h6></h6>
<div class="panel panel-info">
    <div class="panel-heading">
        <span class="fa fa-cogs"></span>
        <span>Settings</span>
        <span class="badge pull-right"style="background-color: orange; color: darkslategray;">5</span>
    </div>
    <div class="panel-body">

        <table class="table table-hover">
            <tr>
                <td><span class="fa fa-wrench" style="color:mediumseagreen;font-size:1.5em;"></span></td>
                <td style="font-size:0.8em;font-weight:bold;padding-right:0;"><a href="#">Your </a>new changes has been successfull updated</td>
                <td><span class="label label-info" style="font-size:0.7em;">5 min ago</span></td>
            </tr>
            <tr>
                <td><span class="fa fa-wrench" style="color: red; font-size: 1.5em;"></span></td>
                <td style="font-size: 0.8em; font-weight: bold; padding-right: 0;">Unable to proceed to <a href="#">your</a> changes</td>
                <td><span class="label label-info" style="font-size: 0.7em;">5 min ago</span></td>
            </tr>
            <tr>
                <td><span class="fa fa-warning" style="color: orangered; font-size: 1.5em;"></span></td>
                <td style="font-size: 0.8em; font-weight: bold; padding-right: 0;">Please <a href="#">Reload </a>your page to see your changes</td>
                <td><span class="label label-info" style="font-size: 0.7em;">Thank You</span></td>
            </tr>
            <!--<tr>
                <td><span class="fa fa-eye" style="color: black; font-size: 1.5em;"></span></td>
                <td style="font-size: 0.8em; font-weight: bold; padding-right: 0;"><a href="#">Nikita Williams </a>watched <a href="#">Your </a>profile</td>
                <td><span class="label label-info" style="font-size: 0.7em;">5 min ago</span></td>
            </tr>-->
            <tr>
                <td><span class="fa fa-info-circle" style="color: royalblue; font-size: 1.5em;"></span></td>
                <td style="font-size: 0.8em; font-weight: bold; padding-right: 0;">To see most of your changes take place, you have to reload the page</td>
                <td><span class="label label-info" style="font-size: 0.7em;">Thank You</span></td>
            </tr>
        </table>

    </div>

</div>
</div>

<div class="col-xs-6">
    <h6></h6>
<div class="panel panel-info">
    <div class="panel-heading">
        <span class="fa fa-calendar-o"></span>
        <span>Schedule & Events</span>
        <span class="badge pull-right"style="background-color: orange; color: darkslategray;">4</span>
    </div>
    <div class="panel-body">

        <table class="table table-hover">
            <tr>
                <td><span class="fa fa-info-circle" style="color:mediumseagreen;font-size:1.5em;"></span></td>
                <td style="font-size:0.8em;font-weight:bold;padding-right:0;">New <a href="#">events </a>added on your calendar</td>
                <td><span class="label label-info" style="font-size:0.7em;">5 min ago</span></td>
            </tr>
            <tr>
                <td><span class="fa fa-info-circle" style="color: red; font-size: 1.5em;"></span></td>
                <td style="font-size: 0.8em; font-weight: bold; padding-right: 0;"><a href="#">Events </a>deleted from your calendar</td>
                <td><span class="label label-info" style="font-size: 0.7em;">5 min ago</span></td>
            </tr>
            <tr>
                <td><span class="fa fa-info-circle" style="color: orangered; font-size: 1.5em;"></span></td>
                <td style="font-size: 0.8em; font-weight: bold; padding-right: 0;"><a href="#">Events </a>conflict on your calendar</td>
                <td><span class="label label-info" style="font-size: 0.7em;">5 min ago</span></td>
            </tr>
            <tr>
                <td><span class="fa fa-info-circle" style="color: royalblue; font-size: 1.5em;"></span></td>
                <td style="font-size: 0.8em; font-weight: bold; padding-right: 0;">Upcoming TRADESTAR <a href="#">tournement </a>registerd <a href="#">here </a> before</td>
                <td><span class="label label-info" style="font-size: 0.7em;">10/05/2014</span></td>
            </tr>
            
        </table>

    </div>

</div>
</div>