<link rel="stylesheet" type="text/css" href="../assets/styles/normalize.css" />
<link rel="stylesheet" type="text/css" href="../assets/styles/demo.css" />
<link rel="stylesheet" type="text/css" href="../assets/styles/component.css" />
 <link rel="stylesheet" href="/assets/styles/bootstrap.min.css">
 <!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<style type="text/css">
    .navbar-center {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }

</style>


<div class="container panel panel-default col-xs-12" style="width:100%;height:90%;background-color:#f2f2f2">

<table style="text-align: center;">

    <tr>
      
    </tr>
    <tr>
        <table class="table" >
            <thead >
                <tr>
                    <th>Player ID</th>
                    <th>Wins</th>
                    <th>losses</th>
                    <th>Ratio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Joueur #1</th>
                    <td>52</td>
                    <td>40</td>
                    <td>9</td>
                </tr>
                <tr>
                    <th>Joueur #2</th>
                    <td>27</td>
                    <td>55</td>
                    <td>97</td>
                </tr>
                <tr>
                    <th>Joueur #3</th>
                    <td>36</td>
                    <td>68</td>
                    <td>89</td>
                </tr>
                <tr>
                    <th>Joueur #4</th>
                    <td>95</td>
                    <td>46</td>
                    <td>62</td>
                </tr>
                <tr>
                    <th>Joueur #5</th>
                    <td>19</td>
                    <td>66</td>
                    <td>31</td>
                </tr>
                <tr>
                    <th>Joueur #6</th>
                    <td>57</td>
                    <td>15</td>
                    <td>57</td>
                </tr>
                <tr>
                    <th>Joueur #7</th>
                    <td>69</td>
                    <td>46</td>
                    <td>16</td>
                </tr>
                <tr>
                    <th>Joueur #8</th>
                    <td>18</td>
                    <td>93</td>
                    <td>84</td>
                </tr>
                <tr>
                    <th>Joueur #9</th>
                    <td>92</td>
                    <td>10</td>
                    <td>69</td>
                </tr>
                <tr>
                    <th>Joueur #10</th>
                    <td>4</td>
                    <td>87</td>
                    <td>51</td>
                </tr>
                <tr>
                    <th>Joueur #11</th>
                    <td>24</td>
                    <td>23</td>
                    <td>85</td>
                </tr>
            </tbody>
        </table>
              
    </tr>


</table>

    

    
    
</div>
<!-- /container -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<script src="../assets/scripts/jquery.stickyheader.js"></script>