<link rel="stylesheet" type="text/css" href="../assets/styles/normalize.css" />
<link rel="stylesheet" type="text/css" href="../assets/styles/demo.css" />
<link rel="stylesheet" type="text/css" href="../assets/styles/component.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">



<div class="panel panel-default col-xs-5" style="margin:4px;background-color:#f2f2f2" ng-controller="pieChartCtrl">


<nvd3 options="options" data="data"></nvd3>


</div>

